html, body {
  height: 100%;  
  margin: 0;
}
#map{
  height: 100%;
  margin: 0;
}
#link_esq{
  text-align: left;
  font-family:"Times New Roman";
  font-size:20px;
}
#link_dir{
  text-align: right;
  font-family:"Times New Roman";
  font-size:20px;
}